@model QuestionListModel

@section Styles {
    @*<link href="~/css/quiz.css" rel="stylesheet" />*@
    <style>
        body {
            margin: 0 !important;
            padding: 0 !important;
        }
    </style>
}

@if (Model is null)
{
    <div class="container">
        <div class="row h-100">
            <div class="col-sm-12 my-auto m-sm-auto">
                <h3 class="text-danger">Bu seviyedeki tüm soruları çözdün! Yeni sorular için beklemede kal!</h3>
                <a asp-action="Index" asp-controller="Question" class="btn btn-sm btn-info">Geri Dön</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="grid">
        <div id="quiz" class="centered grid__col--8">
            <h1>Türkçeni Test Et !</h1>

            <h2 id="question" class="headline-secondary--grouped">@Model.description</h2>
            @{
                @for (int i = 0; i < Model.alternatives.Count; i++)
                {
                    <form method="post" asp-action="GetQuestion" asp-controller="Question">
                        <input type="hidden" asp-for="@Model._id" />
                        @*<input type="hidden" asp-for="@Model.alternatives[i].answer" />*@
                        <input type="hidden" asp-for="@Model.level" />
                        <input type="text"  asp-for="@Model.alternatives[i].answer"/>
                        <button id="guess0" type="submit" class="btn--default">@Model.alternatives[i].answer</button>
                    </form>
                }
            }
        </div>
    </div>
}

